<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload File to Google Drive</title>
</head>
<body>
<h1>Upload File to Google Drive</h1>
<form enctype="multipart/form-data" action="/uploadfile" method="post">
    <label for="file">Select file:</label>
    <input type="file" name="file" id="file" required><br><br>
    <label for="folder">Target folder:</label>
    <input type="text" name="folder" id="folder" placeholder="Enter folder name" required><br><br>
    <input type="submit" value="Upload File">
</form>
</body>
</html>
